/* app css stylesheet */

.col-centered {
  float: none;
  margin: 0 auto;
}


.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0.5em;
}

.menu > li {
  display: inline;
}


.location-picker, .date-field {
  max-width: 300px;
  float:left;
}

.location-picker-container {

}

.transfer-icon {
  float: left;
  /*border-radius: 50%;*/
  /*border: 1px solid grey;*/
  /*margin: 5px;*/
  padding: 1em;
  /*color: grey;*/
}
