<div class="container">

	<div class="row">
		<div class="col-md-12 col-centered">

			<div>
				<select class="form-control location-picker" ng-model="fareSearch.searchParams.origin">
					<option ng-repeat="option in cityCodes.data" value="{{option}}">{{option}}</option>
				</select>
			</div>

			<div class="transfer-icon">
				<i class="glyphicon glyphicon-transfer"></i>
			</div>

			<div>
				<select class="form-control location-picker" ng-model="fareSearch.searchParams.destination">
					<option ng-repeat="option in cityCodes.data" value="{{option}}">{{option}}</option>
				</select>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-centered">

			<div>
				<input type="text" class="form-control date-field"
				       ng-model="fareSearch.searchParams.departureDate" />
			</div>

			<div class="transfer-icon">
				<i class="glyphicon glyphicon-plane"></i>
			</div>

			<div>
				<input type="text" class="form-control date-field"
				       ng-model="fareSearch.searchParams.returnDate" />
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-centered">

			<div>

			</div>

		</div>
	</div>

</div>


<div>

	fareSearch: {{ fareSearch }}

</div>
